<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
	<title>Teri McMahon Yoga</title>
</head>
<body>
	<header>
		<h1>Teri McMahon Yoga</h1>
	</header>
</body>
</html>