<% include partials/header %>

<h1>Hello</h1>
<a href="/newPost">New Blog Post</a>
<h3>Blog Posts:</h3>
<% blogPosts.forEach(function(blogpost){ %>
    <p> <%= blogpost.content %> </p>
<% }); %>

<% include partials/footer %>